<!--
<h2 style="font-size: xx-large;">
    <b>Welcome to my professional PIMP app.</b><br /><br />
    <u>{{::title}}!</u>
</h2><!--one time binding used here--><br />
<!--
<h3>You're in what is called my parent controller I aptly titled, "BitchCtrl".</h3>
<ul>
    <li ng-click="setIndex(0)" ng-class="(index==0) ? 'active' : ''">
        <a href="{{menu[0].href}}">{{menu[0].name}}</a>
    </li>
    <li ng-click="setIndex(1)" ng-class="(index==1) ? 'active' : ''">
        <a href="{{menu[1].href}}">{{menu[1].name}}</a>
    </li>
    <li>
        eventTitle = {{itemTitle}} Cannot access itemTitle here cuz it's only in the child controller {{title}}
    </li>
</ul>
-->